html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.floatleft { 
    float: left; 
}
.floatright { 
	float: right; 
}
.center { 
    text-align: center;    
}
.clearboth { 
	clear: both; 
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a { 
	text-decoration: none; 
	outline: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select, 
select:focus, 
a:focus, input:focus, select:focus, textarea:focus, 
a, input, select, textarea, button, 
a::-moz-focus-inner, input::-moz-focus-inner, select::-moz-focus-inner, textarea::-moz-focus-inner, button::-moz-focus-inner { 
	outline: none; 
    outline-width: 0; 
}
.hr { 
	clear: both;
	border: none;
	color: #F3F1F0; 
	height: 1px; 
	background-color: #F3F1F0;  
	margin: 40px 0 60px;
}
hr { 
    color: #e8e8e8;
    background-color: #e8e8e8;
    height: 1px; 
    border: 0; 
}
.nomargin { 
	margin-right: 0;
}

/* STICKY FOOTER */ 

html, body { 
	height: 100%; 
} 

#Wrapper {
	width: 100%;
	max-width: 1000px;
	min-height: 100%;
	margin: 0	auto;
}
#WrapInner {
  overflow:auto;
	padding-bottom: 150px;
}  

/* OPERA FIX */

body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/* FONTS *******************************/

@font-face {
    font-family: 'FontTitle';
    src: url('../fonts/bergamostd-regular-webfont.eot');
    src: url('../fonts/bergamostd-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bergamostd-regular-webfont.woff2') format('woff2'),
         url('../fonts/bergamostd-regular-webfont.woff') format('woff'),
         url('../fonts/bergamostd-regular-webfont.ttf') format('truetype'),
         url('../fonts/bergamostd-regular-webfont.svg#bergamo_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontBodyMedium';
    src: url('../fonts/futurastd-medium-webfont.eot');
    src: url('../fonts/futurastd-medium-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/futurastd-medium-webfont.woff') format('woff'), 
    url('../fonts/futurastd-medium-webfont.ttf') format('truetype'), 
    url('../fonts/futurastd-medium-webfont.svg#FuturaStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontBodyBook';
    src: url('../fonts/futurastd-book-webfont.eot');
    src: url('../fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futurastd-book-webfont.woff') format('woff'),
         url('../fonts/futurastd-book-webfont.ttf') format('truetype'),
         url('../fonts/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontBodyLight';
    src: url('../fonts/futurastd-light-webfont.eot');
    src: url('../fonts/futurastd-light-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/futurastd-light-webfont.woff') format('woff'), 
    url('../fonts/futurastd-light-webfont.ttf') format('truetype'), 
    url('../fonts/futurastd-light-webfont.svg#FuturaStdLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontBodyBold';
    src: url('../fonts/futurastd-bold-webfont.eot');
    src: url('../fonts/futurastd-bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/futurastd-bold-webfont.woff') format('woff'), 
    url('../fonts/futurastd-bold-webfont.ttf') format('truetype'), 
    url('../fonts/futurastd-bold-webfont.svg#FuturaStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FONTS FALLBACKS ****************************/

@font-face {
    font-family: 'FontTitleFallBack';
    src: local('Times New Roman');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FontBodyFallBack';
    src: local('Arial');
    font-weight: normal;
    font-style: normal;
}

/* BEGIN STYLES *********************************/

body {
	background: #fff;
	line-height: $base-line-height;
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $text-color;
} 

.section {
	background: $bg-color url('../img/section_divider.gif') repeat-x left bottom; 
	padding-bottom: 10px;
} 

#HomepageContact {
	background-image: none;
	padding-bottom: 0;
}

.section-inner {
	padding: 10px;
}
.section-row {
	display: table;
	width: 100%;
}

.section-blurb-cell {
	display: table-cell;
	width: 40%;
	vertical-align: top;
}

.blurb-wrap, .gallery-sec, #Testimonials, #ContactWrapper {
	padding: 10px;
	font-size: 1.4em;
	line-height: 1.4;
	text-align: center;
}

.blurb-wrap h3, .gallery-sec h3, #Testimonials h3 {
	font-family: FontTitle, FontTitleFallBack, serif;
	font-weight: normal;
	font-size: 1.6em;
	color: #000;
	text-transform: uppercase;
	line-height: 1;
	margin: 50px 0 15px;
}

.blurb-wrap p {
	margin-bottom: 15px;
}

.blurb-wrap a {
	display: inline-block;
	padding: 3px 10px 2px 10px;
	border-top: 1px solid $secondary-text-color;
	border-bottom: 1px solid $secondary-text-color;
	margin: 50px 0 30px;
	font-family: 'FontBodyMedium', 'FontBodyFallBack', 'sans-serif';
	font-size: .72em;
	color: $secondary-text-color;
	text-transform: uppercase;
}

.section-img-cell {
	display: table-cell;
	width: 60%;
	vertical-align: top;
	position: relative;
}

.section-img-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.section-img-wrap > div {
	height: 100%;
	margin-left: 10px;
}

.section-img-wrap > div.alternate-section {
	margin: 0px 10px 0 0;
}

.gallery-sec, #Testimonials, #ContactWrapper {
	background: url('../img/section_divider.gif') repeat-x left top; 
	padding: 10px 0 0 0;
}

.gallery-sec h3, #Testimonials h3 {
	margin: 0 auto;
	padding: 20px 0 30px;
	background: $bg-color url('../img/section_divider.gif') repeat-x left bottom; 
}