---
---
@charset "utf-8";

$base-font-family: 'FontBodyBook', 'FontBodyFallBack', 'sans-serif';
$base-font-size: 62.5%;
$base-line-height: 1;
$text-color: #96863e;
$text-color2: #b59e61;
$accent-text-color: #534e36;
$secondary-text-color: #817b62;
$footer-text-color: #777;

$bg-color: #f8f8f8;

$homepage-section-bg-img: ({% for member in site.data.default.homepage %}
  {{ member.id | prepend: '#' | append: ': ' | append: member.bgurl | append: ',' }}
{% endfor %});








@import 'base';
@import 'header';
@import 'footer';
@import 'homepage';
@import 'gallerypage';
@import "testimonialspage";
@import "contactpage";
@import "icon-font";

@import 'responsive';

